/* ================= MAIN ================= */
main {
    color: white;
    width: 100%;
    padding-top: 0px;
    overflow: hidden;
}

/* ================= TÍTULO COM VÍDEO ================= */

.title-box {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.title-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
    z-index: 1;
}

.title-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    color: white;
    text-transform: uppercase;

    font-size: 3em;
    text-align: center;
}

.cygnus-box {
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;       
    overflow: hidden;      
    margin: 0;
    padding: 0;
}

.cygnus-box video.cygnusx-1 {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;     
    z-index: 1;
}

/* ================= SEÇÃO COM IMAGEM DE FUNDO ================= */

.img-bg img {
    padding-bottom: 0px;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: right;
    z-index: 1;
}
.img-bg {
    position: relative;     /* IMPORTANTE */
    width: 100%;
    height: 100vh;          /* opcional — deixa altura da tela inteira */
    overflow: hidden;
}
.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    max-width: 900px;

    color: white;
    font-size: 1.3rem;
    text-align: center;

    padding: 30px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;

    z-index: 3;
}

.cont a {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
}
