/*roda-pé*/

.footer {
    bottom: 0;
    width: 100%;
    color: white;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;    
}
.footer a {
    color: white;
    text-decoration: none;

}
.footer p {
    text-align: center;
}