/*==================== GLOBAL ====================*/
body {
    font-family: Arial, sans-serif;
    background: #121212; 
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*==================== ETAPAS ====================*/
#carreiras, #dados, .confir {
    background: #1e1e1e00;
    padding: 40px 30%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Ocultar etapas que não começam ativas */
#dados, .confir {
    display: none;
    opacity: 0;
}

h2 {
    text-align: center;
}

form label {
    display: block;
    margin-top: 15px;
}

select{
    width: 100%;
    max-width: 250px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #0000002c;
    color: white;
}
select option{
    background: #000000;
    color: white;
}

form input, form select {
    width: 100%;
    max-width: 250px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #2c2c2c;
    color: white;
}

/*==================== BOTÕES ====================*/
.form-btn, button {
    display: block;
    color: white;
    margin: 25px auto 0;
    padding: 12px 35px;
    background: #00000036;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.form-btn:hover {
    background: white;
    color: black;
    transform: translateY(-2px);
}

/*==================== CONFIRMAÇÃO ====================*/
.confir {
    position: relative;
    padding-bottom: 80px;
}

/*==================== SELETORES ====================*/
#carreiras select, #dados select {
    width: 100%;
    max-width: 250px;
}

/*==================== RESPONSIVO ====================*/
@media (max-width: 600px) {
    #carreiras, #dados, .confir {
        padding: 30px 10%;
    }
}

@media (max-width: 480px) {
    #carreiras, #dados, .confir {
        padding: 20px 5%;
    }
}

/*==================== IMAGEM FUNDO LUA ====================*/
.img-lua {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;

    mask-image:
        linear-gradient(to bottom, black 85%, transparent),
        linear-gradient(to top, black 85%, transparent);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;

    z-index: 1;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
