main {
    padding-top: 150px ;
}

/*==================== ETAPAS ====================*/
#carreiras, #dados, .confir {
    background: #00000000;
    padding: 120px 30%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* ==============Ocultar etapas que não começam ativas ==========*/
#dados, .confir {
    display: none;
    opacity: 0;
}

h2 {
    text-align: center;
}

form label {
    display: block;
    margin-top: 15px;
}

select{
    width: 100%;
    max-width: 250px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #0000002c;
    color: white;
}
select option{
    background: #000000;
    color: white;
}

form input, form select {
    width: 100%;
    max-width: 250px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #000000;
    color: white;
}

/*==================== BOTÕES ====================*/
.form-btn, button {
    display: block;
    color: white;
    margin: 25px auto 0;
    padding: 12px 35px;
    background: #00000036;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.form-btn:hover {
    background: white;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

.erro-msg {
  color: #ff4d4d;
  font-size: 0.9rem;
  display: none;
  align-items: center;
  gap: 6px;
}

.icon-erro {
  background-color: #ff3b3b;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/*==================== CONFIRMAÇÃO ====================*/
.confir {
    position: relative;
    padding-bottom: 80px;
}

/*==================== SELETORES ====================*/
#carreiras select, #dados select {
    width: 100%;
    max-width: 250px;
}

/*==================== RESPONSIVO ====================*/
@media (max-width: 600px) {
    #carreiras, #dados, .confir {
        padding: 30px 10%;
    }
}

@media (max-width: 480px) {
    #carreiras, #dados, .confir {
        padding: 20px 5%;
    }
}

/*==================== IMAGEM FUNDO LUA ====================*/
.img-lua {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;

    mask-image:
        linear-gradient(to bottom, black 85%, transparent),
        linear-gradient(to top, black 85%, transparent);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;

    z-index: 1;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
