/*==================== HEADER ====================*/
header {
    transition: top 0.1s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: transparent;
}

/* quando o header precisa esconder/mostrar */
header.hide { top: -120px; }
header.show { top: 0; }

/*==================== NAV ====================*/
#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/*==================== LOGO ====================*/
#top img {
    height: 80px;
    width: auto;
    transition: 0.2s ease;
}
.mobile-main{
    display: none;
}
/*==================== MENU ====================*/
.menu-nav {
    display: flex;
    width: 100%;
}

.menu-items {
    padding: 10px;
    color: white;
}

ul.menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

ul.menu-items a {
    text-decoration: none;
    color: white;
}

.has-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 2000;
    background: black;
}

.dropdown li a {
    display: block;
    padding: 10px 15px;
    color: white;
}

.has-dropdown:hover .dropdown {
    display: flex;
}

/* seta */
.arrow {
    display: inline-block;
    transition: 0.3s;
}

.has-dropdown:hover .arrow {
    transform: rotate(180deg);
}

/*==================== BOTÃO MOBILE ====================*/
#menu-toggle {
    display: none;
}

.menu-btn {
    margin-left: auto;
    padding: 20px;
    cursor: pointer;
    display: none;
    z-index: 3000;
}

.menu-btn::before {
    content: "☰";
    font-size: 30px;
    color: white;
}

#menu-toggle:checked + .menu-btn::before {
    content: "✖";
}

/*==================== MOBILE ====================*/
@media (max-width: 600px) {

    .mobile-main {
        display: none;
    }

    /* botão aparece */
    .menu-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    /* menu inteiro */
    ul.menu-items {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        flex-direction: column;
        display: none;
        padding: 20px;
        gap: 10px;
        z-index: 1500;
    }

   #menu-toggle:checked ~ ul.menu-items .mobile-main {
        display: block;
    }
    /* quando aberto */
    #menu-toggle:checked ~ ul.menu-items {
        display: flex;
    }

    /* dropdown mobile */
    .has-dropdown .dropdown {
        position: static;
        display: none;
        flex-direction: column;
        background: #000;
    }

    .has-dropdown.open .dropdown {
        display: flex;
    }

    .has-dropdown:hover .arrow {
        transform: none;
    }

    /* LOGO FIXA quando o menu está aberto */
    #menu-toggle:checked ~ .menu-btn,
    #menu-toggle:checked ~ ul.menu-items,
    #menu-toggle:checked ~ .menu-btn {
        position: fixed;
        top: 0px;
    }

}

