
/* ===== CONTAINER SEM MASK ===== */
.img-sobre,
.img-col,
.img-nave,
.img-job,
.img-lua {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    
    overflow: hidden;
    
    margin-bottom: 100px;
    
    mask-image: 
    linear-gradient(to bottom, black 85%, transparent),
    linear-gradient(to top, black 85%, transparent);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
    
    z-index: 1;
}

.img-sobre .bg-img,
.img-col .bg-img,
.img-nave .bg-img,
.img-job .bg-img,
.img-lua .bg-img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 1;

}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 20px;
}

.sobre-content,
.col-content,
.nav-content,
.job-content {
    font-size: large;
    color: white;
    position: absolute;
    z-index: 2;
}

.sobre-content,
.nav-content {
    top: 30%;
    left: 10%;
    max-width: 400px;
}

.col-content,
.job-content {
    top: 30%;
    right: 10%;
    max-width: 400px;
}


button {
    margin-top: 20px;
    padding: 12px 30px;
    cursor: pointer;
    border: none;
    background: #0000005b;
    color: white;
    border: white 1px solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-left: left;
}

button:hover {
    background: white;
    color: black;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
    transform: translateY(-2px);

}
/* ===== MOBILE ===== */

@media (max-width: 600px) { 
    .img-sobre, 
    .img-col, 
    .img-nave, 
    .img-job, 
    .img-lua { 
        mask-image: none; 
        background-size: contain; 
        margin: 0%; 
        padding-top: 15%; 
        position: static; 
    } 

    .sobre-content, 
    .col-content, 
    .nav-content, 
    .job-content { 
        color: white; 
        z-index: 2; 
        position: static;
        padding-top: 350px;
        justify-content: left;
        padding-left: 50px;
        margin-right: 110px;
        font-size: 17px;
    } 

    h2 {
        font-size: 20px;
    }

    button {
        margin-top: 5px;
        padding: 12px;
    }
}


