main {
    color: white;
    width: 100%;
    padding-top: 100px;
    overflow: hidden;
}

/* ================= TÍTULO COM VÍDEO ================= */
.title-box {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.title-video {
    position: absolute;
    object-fit: cover; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Texto central do título */
.title-center {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    color: white;
    font-size: 3em;
}


/* ================= SEÇÃO COM IMAGEM DE FUNDO ================= */
.img-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.img-bg img {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: right;
    z-index: 1;
}

/* ================= TEXTO POR CIMA ================= */
.cont {
    font-size: 1.4rem;
    color: white;
    position: relative;
    z-index: 2;
    padding: 40px;
    max-width: 650px;
}
