.doc {
    color: white;
    pointer-events: 500px;
    padding-top: 150px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 120px;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
}
.doc a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.doc ul {
    list-style-type:none;
}

@media (max-width: 610px) {
    .doc {
    justify-content: center;
    pointer-events: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
    }

    main {
    flex: 1;
    padding-bottom: 80px; /* espaço pro footer */
}   

    .img-lua {
    width: 100%;
    height: auto;   
    margin-top: 50px;
    margin-bottom: 250px;  
    }

    .img-lua img {
    width: 100%;
    display: block;

    mask-image: 
    linear-gradient(to top, black 95%, transparent);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
    
    z-index: 1;
    }
}
