html {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/*==================== HEADER ====================*/
header {
    transition: top 0.1s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.87) 20%, rgba(0,0,0,0));
}

/* ============ Esconder o cabeçalho ============= */

header.hide { top: -120px; }
header.show { top: 0; }

/*==================== NAV ====================*/
#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    
    gap: 0;
}

/*==================== LOGO ====================*/
#top img {
    padding-left: 2em;
    height: 80px;
    width: auto;
    transition: 0.2s ease;
}

.mobile-main {
    display: none;
}

/*==================== MENU ====================*/
.menu-nav {
    display: flex;
    width: 100%;
}

ul.menu-items {
    color: white;
    font-weight: bold;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2em;
    gap: 3em;
}

ul.menu-items a {
    text-decoration: none;
    color: white;
}

ul.menu-items a:hover {
    font-size: large;
}

.has-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -5px;
    display: none;
    flex-direction: column;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 2000;
}

.dropdown li a {
    display: block;
    color: white;
    padding: 8px 5px;
}

.has-dropdown:hover .dropdown {
    display: flex;
}

/* seta */
.arrow {
    display: inline-block;
    transition: 0.3s;
}

.has-dropdown:hover .arrow {
    transform: rotate(180deg);
}

/*==================== RODA-PÉ ====================*/

.footer {
    width: 100%;
    color: white;
}

.footer ul {
    font-size: 1.2em;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;    
}

.footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    font-size: 20px;
}

.footer p {
    text-align: center;
}

/*==================== BOTÃO MOBILE ====================*/
#menu-toggle {
    display: none;
}

.menu-btn {
    margin-left: auto;
    padding-top: 10px;
    padding-right: 1em;
    cursor: pointer;
    display: none;
    z-index: 3000;
}

.menu-btn::before {
    content: "☰";
    font-size: 35px;
    color: white;
}

#menu-toggle:checked + .menu-btn::before {
    content: "✖";
    padding: 20px;
}

/*==================== MOBILE ====================*/

@media (max-width: 600px) {
    .menu-btn {
        display: block;
        position: absolute;
        top: 7px;
        right: 20px;
        z-index: 2001;
    }

    ul.menu-items {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        flex-direction: column;
        display: none;
        z-index: 1500;

    }

    #menu-toggle:checked ~ ul.menu-items {
        display: flex;
    }

    .has-dropdown .dropdown {
        position: static;
        display: none;
        flex-direction: column;
    }

    .has-dropdown.open .dropdown {
        display: flex;
    }

    .has-dropdown .arrow {
        transition: 0.3s;
    }

    .has-dropdown.open .arrow {
        transform: rotate(180deg);
    }

    .mobile-main {
        display: none;
    }

    #menu-toggle:checked ~ ul.menu-items .mobile-main {
        display: flex;
        justify-content: flex-start; 
        align-items: center;

        position: absolute;  
        top: 0px;
        left: 0px;

        padding: 0;
        margin: 0;
    }

    #menu-toggle:checked ~ ul.menu-items a {
        padding-top: 20px;
        padding-left: 0px;
    }

    #menu-toggle:checked ~ ul.menu-items {
        padding-top: 120px;
        padding-left: 40px;
    }

    #menu-toggle:checked ~ .menu-btn {
        padding-top: 20px;
        padding-right: 0%;
        padding-left: 0%;
        padding-bottom: 10px;
        position: fixed;
        top: 0;
    }
}

